.Main
  
  .contents
    .content-title
      %h2.content-name.content-name--food
        食事記録
    .calender
      = month_calendar events: @foods do |date, foods|
        = date.day
        - foods.first(1).each do |food|
          = link_to "#" do
            - if food.image.present?
              = image_tag food.image.to_s, size: "100x90", class: "food_img"
            - else
              .foodName
                = food.name

  = link_to new_food_path, class: "recordBtn recordBtn--food" do
    %i.fas.fa-camera-retro
    %br/
    食事を記録