.foodMain
  
  .contents
    .content-title
      %h2.content-name
        食事管理
    .calender
      = month_calendar events: @foods do |date, foods|
        = date.day
        - foods.first(1).each do |food|
          = link_to "#" do
            = image_tag food.image.to_s, size: "100x90", class: "food_img"


  = link_to new_food_path, class: "recordBtn" do
    %i.fas.fa-camera-retro
    %br/
    食事を記録